<%- include('../includes/header') %>
<div class="container" style="min-height: 700px; margin-top: 150px;">
    <div class="row">
        <div class="col-md-12">
            <h4>About Page</h4>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>