<%- include("../includes/header") %>

<div class="container my-5" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Teacher</h2>
            <form action="/teacher/save" method="post">
                <label>Fullname</label>
                <input type="text" name="name" class="form-control"/>
                <label>Email</label>
                <input type="text"  name="email" class="form-control"/>
                <label>Contact</label>
                <input type="text" name="contact" class="form-control"/>
                <label>Country</label>
                <select name="country" class="form-control">
                    <option>option</option>
                    <% result.forEach((value)=>{ %>
                      <option> <%- value.country %></option>
                     <% }) %>
                </select>
                <label>Gender</label> <br/>
                Male<input type="radio" name="gender" value="male"/>
                Female<input type="radio" name="gender" value="female"/>
                <br>
                <label>Address</label>
                <textarea name="address" class="form-control"></textarea>
                <br/>

                <input type="submit" class="btn btn-info btn-sm" value="add-teacher"/>
            </form>

        </div>
    </div>
</div>

<%- include("../includes/footer") %>