<%- include('../includes/header') %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Contact Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, molestias. Accusantium modi corrupti laudantium, reiciendis ipsum quos est qui ratione placeat earum labore perspiciatis exercitationem eos, architecto voluptates non cum.</p>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>