<%-include("../includes/header")%>



<div class="container my-5 " style="min-height:700px">
    <form action="add" method="post">
     <div class="row">
        <div class="col-md-6 offset-md-3" >
            <h2 class="text-center">Add new fruits</h2>
            <div class="my-3">
             <label >Full name</label>
             <input type="text" name="fullname" class="form-control"/>
            </div>
            <div class="my-3">
                <label >email</label>
                <input type="text" name="eamil" class="form-control"/>
            </div>
            <div class="my-3">
                <label  >class</label>
            
                <select name="class" class="form-control">
                    <option>Select class</option>
                   <% for (var i=1; i<=12; i++){ %>
                     <option><%-i%></option>
                     <%
                }   
                %>
                </select>
            </div>
            <div class="my-3">
                <label  >contact</label>
                <input name="contact" type="text" class="form-control"/>
            </div>
            <div class="my-3">
                <label for="gender">Gender</label>
                <label for="male">Male</label>
                 <input type="radio" id="male" value="male" name="gender">
                <label for="female">Female</label>
                <input type="radio" id="female"  value="female" name="gender">
            </div>
            <div class="my-3">
                <input type="submit" class="btn btn-info" value="add student">
            </div>
        </div>
    </form>
</div>
  </div>
 
<%-include("../includes/footer")%>