body{
    background-color: #003366;
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #fff;
    font-family: Helvetica;

}



.ul{
    margin-left: 100px;
    list-style-type: none;
}
.li{
    float: left;
}
.a{
    background-color: #003366;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 27px 15px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 5px;
    transition: .5s;
}

.a:hover{
    background-color: #2BD366;
    
}