<html>
    <head>
        <style>
            body{
                background-color: #406020;
            }
        </style>
    </head>
    <body>
        <h1>About</h1>

        <% 
            for(let a = 1; a <= 20; a++)
            { %>
                
                <h2> <%- a %> </h2>


           <% 
            }
        %>
    </body>
</html>