<html>
    <head>

    </head>
    <body>
        <h1>home page</h1>
        <%
            let a = 100;
            let b = 200;
            let c = a+b;
        %>

        <h1><%- c %></h1>
    </body>
</html>