<html>
    <head>
<<<<<<< HEAD
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
        <script src="js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <a href="/"><h2>This a peragraph</h2></a>
          
        <h1 class="text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis necessitatibus perferendis deleniti optio atque temporibus in ipsum! Necessitatibus doloremque dolores sint, veniam, consectetur ipsa quia cupiditate harum quaerat minus eveniet?</h1>
        <button class="btn btn-info">buy</button>

=======

    </head>
    <body>
        <h1>home page</h1>
        <%
            let a = 100;
            let b = 200;
            let c = a+b;
        %>

        <h1><%- c %></h1>
>>>>>>> 4d7a0369ec211716eb5aece5daf371d0784e2b03
    </body>
</html>