<%- include("../includes/header") %>
<div class="container" style="min-height: 700px;">
    <Div class="row">
        <div class="col-md-12">
            <h2>About Page</h2>
            <p>Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur laborum enim dolor molestiae quam dolore nobis, saepe ad, unde incidunt ut accusantium cumque sint blanditiis doloremque reprehenderit, facere exercitationem modi. ipsum dolor sit amet consectetur adipisicing elit. In pariatur adipisci sapiente reiciendis, aliquam eum dolore maxime cumque, quidem voluptate saepe enim magnam deleniti! Totam esse architecto ut iure minus?</p>
        </div>
    </Div>
</div>


<%- include("../includes/demo") %>
<%- include("../includes/footer") %>