<%- include("../includes/header") %>
<div class="container" style="min-height: 700px;">
            <Div class="row">
                <div class="col-md-12">
                    <h2>Contact Page</h2>
                    
                </div>
            </Div>
        </div>

<%- include("../includes/demo") %>
<%- include("../includes/footer") %>
       