<%- include("../includes/header") %>
<div class="container" style="min-height: 700px;">
            <Div class="row">
                <div class="col-md-12">
                    <h2>Help Page</h2>
                    <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, itaque. Voluptatum, animi eaque! Quis velit fugiat iste sint repellat aliquam similique nobis, voluptate odit enim modi voluptatem ullam laborum totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere laudantium aliquam, quae accusamus minus molestiae aut necessitatibus fuga! Veniam corrupti facilis voluptate labore obcaecati impedit sed in tempora quam neque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, facilis repudiandae exercitationem sapiente dolorum fuga et labore illum suscipit ad reiciendis eius. Ullam, eius natus. At voluptatem laborum tempora facilis? ipsum dolor sit amet consectetur adipisicing elit. In pariatur adipisci sapiente reiciendis, aliquam eum dolore maxime cumque, quidem voluptate saepe enim magnam deleniti! Totam esse architecto ut iure minus?</p>
                </div>
            </Div>
        </div>
<%- include("../includes/demo") %>
<%- include("../includes/footer") %>
       