.bg-orange{
    background-color: #F96C1B;
}
.text-white{
    color : #fff;
}
#menu .nav .nav-item .nav-link:hover{
    background-color: #F96C1B;
}
#menu .nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #F96C1B;
}
.slider{
    height: 400px;
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}