<%-include ("../includes/header")%>
<div class="container-flude " style="min-hight; 700px">
    <div class="row">
        <div class="col-md-10">
            <H2>About page</H2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae cupiditate recusandae cum veritatis quo autem asperiores, odit maxime magnam, dolore adipisci nam dignissimos exercitationem. Dolorum saepe amet iure Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis voluptas, quasi debitis, fuga voluptates possimus veritatis, suscipit repudiandae pariatur nisi atque reiciendis provident. Iste, minus sint? Accusamus, delectus animi? </p>
        </div>
    </div>

</div>